// bootstrap Custom variables
@import 'bootstrap-custom';
@import "../../../node_modules/bootstrap/scss/bootstrap";

$base-duration: 0.8s;
$use-bounceInUp: true;
@import "../../../node_modules/animate-sass/animate";

/*---- sass by @Yoohj ------------------------------------------------------------------- */

body {
    &.font-loaded {
        font-family: 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    }
}

h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 3.2em;
}

h4 {
    font-weight: normal;
}

i.anchor {
    display: block;
    height: 70px;
    margin-top: -70px;
    visibility: hidden;
}

#sidemenu {
    position: fixed;
    width: auto;
    top: 100px;
    position: -webkit-sticky;
    position: sticky;
}

table.table {
    border-bottom: 2px solid $table-border-color;
}