@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,700&display=swap&subset=korean');

@import "../../../node_modules/bourbon/app/assets/stylesheets/bourbon";

// bootstrap Custom variables
@import 'bootstrap-custom';
@import "../../../node_modules/bootstrap/scss/bootstrap";

$base-duration: 0.8s;
$use-bounceInUp: true;
@import "../../../node_modules/animate-sass/animate";

//highlighter
@import "../../../node_modules/highlight.js/scss/tomorrow-night-blue.scss";



@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .tui-toolbar-icons {
        background-image: url('../img/tui-editor-2x.png');
    }
}


/*---- sass by @Yoohj ------------------------------------------------------------------- */


body {

    &.font-loaded {
        font-family: 'Noto Sans KR', 'Malgun Gothic', sans-serif;
        font-weight: 300;
    }
}

h1 {
    // font-family: 'Black Han Sans', sans-serif;
    font-weight: bold;
    font-size: 2.6em;
    letter-spacing: -0.08em;
}

h3 {
    display: inline-block;
    width: auto;
    margin: 1em 0 0.8em;
    padding: 0 0.3em 8px 0.3em;
    font-weight: bold;
    color: $blue;
    @include linear-gradient(transparent 45%, lighten($blue, 65%) 0);
}

h4 {
    font-weight: bold;
}

i.anchor {
    display: block;
    height: 70px;
    margin-top: -70px;
    visibility: hidden;
}

#sidemenu {
    position: fixed;
    top: 100px;
    position: -webkit-sticky;
    position: sticky;
}

table.table {
    border-top: 2px solid $table-border-color;
    border-bottom: 2px solid $table-border-color;

    caption {
        font-size: 0.8em;
    }
}

//fieldset 그리드 설명
fieldset.guide {
    border: 1px solid $gray-500;
    margin: 20px 0;
    padding: 10px;

    fieldset {
        margin: 5px 0 0;

        &.guide {
            margin: 5px;
        }
    }

    legend {
        position: static !important;
        left: 0 !important;
        top: 0 !important;
        width: auto !important;
        height: auto !important;
        padding: 0 4px !important;
        color: $gray-800;
        visibility: visible !important;
        font-size: 0.85em !important;
        line-height: 20px !important;
        text-indent: 0 !important;
        font-weight: bold;
    }
}

//코드 하이라이트
code.hljs {
    max-height: 300px;
    padding: 1em 3em !important;
}